/*Seccion de estilos*/


/*Cuerpo de la apgina*/
body{
    margin: 0;
    padding: 0;
}

/*Cabezera de la pagina*/
header{
    background-color: #f5f5f5;
    display: flex;  
}

/*Estilos para elemenots del header*/
a{
    text-decoration: none;
    color: inherit;
}


.title{
    color: black;
    font-weight: bold;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 30px;
}

.nav{
    margin-top: 100px;
    margin-left: 418px;
}

.nav a{
    padding: 15px;
    color: grey;
    font-family: sans-serif;
}

.nav .active{
    color: black;
}

.login{
    margin-left: 200px;
    margin-top: 100px;
}

.login a{
    padding: 15px;
    font-family: sans-serif;
    color: gray;
}

.login .register{
    background-color: #4caf4f;
    color: white;
    border-radius: 15px;
}

.login .register:hover{
    background-color: #4caf4f;
    color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #9dcf9e;
    transition: 0.5;
}


/*Hero de la pagina estilos y dimensiones*/
.hero{
    background-color: #f5f5f5;
    padding: 200px;
}

.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.text{
    font-family: sans-serif;
}

.text h2{
    color: rgb(83, 83, 83);
    font-weight: bold;
    font-size: 60px;
}

.secondary h2{
    margin-top: -70px;
    color: #4caf4f;
}

.subtitle{
    color: gray;
}

.buton{
    color: white;
    margin-top: 40px;
    text-align: center;
    background-color: #4caf4f;
    width: 100px;
    padding: 10px;
    border-radius: 7px;
}

.buton:hover{
    box-shadow: 5px 5px 5px 5px #9dcf9e;
    transition: 0.5;
}

.images-main{
    margin-left: 150px;
}

/*Estilos para la seccion de clientes*/
.clients{
    text-align: center;
    background-color: #ffff;
    padding-left: 200px;
    padding-right: 200px;/*Esto lo pongo en varias secciones de la pagina para que alla un espacio entre el contenido y el cuerpo de la pagina*/
}

.c-title{
    font-family: sans-serif;
    font-weight: bold;
}

.c-title h2{
    color: #525252;
    font-size: 50px;
}

.c-title h3{
    font-weight: 100;
    color: gray;
}

.clients-logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.clients-logos img{
    height: 70px;
}

/*Apartado de comunidad estilos y estrucutra implementacion de grid*/
.community{
    margin-top: 200px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}


.images-comunity{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.unlock{
    padding: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);/*Implemento grid para desplazar elementos horizontalmente*/
}

.unlock img{
    height: 600px;
}

/*Se implementa estilos para la seccion se desplaza del body y se le asignan columnas*/
.achievements{
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}


.counts{
    margin-top: 50px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 100px;
}

.text1{
    margin-bottom: 90px;
}

.counts img{
    margin-right: 15px;
}

.counts .primary{
    color: rgb(77, 77, 77);
    font-size: 20px;
}

.counts .subtitle{
    margin-top: -30px;
    margin-left: 65px;
    font-size: 10px;
    font-weight: 100;
}


/*Estilos y posicionaminetos para la seccion calender y se implemenatas columnas con css grid*/
.calender{
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.calender img{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 600px;
}

.calender .text{
    margin-top: 100px;
}


/*Estilos y posicionaminetos para la seccion customer y se implemenatas columnas con css grid*/
.customer{
    padding-top: 100px;
    background-color: #f5f5f5;
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr); /*Se asignan dos columnas a la aseccion para un mejor posicionamiento*/
}

.customer .img-tesla{
    height: 600px;
}

.customer h3{
    cursor: pointer;
    color: #4caf4f;
    font-size: 30px;
}

.customer h4{
    color: gray;
    font-size: 15px;
}

.customer h2{
    color: #4caf4f;
}

.customer h3{
    color: #4caf4f;
    font-size: 15px;
}

.customer-logos{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(7,1fr); /*Se implementa un grid para desplazar los logos sobre la segunda columna*/
}

/*Se implementa estilos a la seccion update y sus posicionamineto utilizando position absolute para sobreponer el boton infromativo sobre las imagenes*/
.update{
    padding-top: 100px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: center;
    padding-bottom: 200px;
}

.butons-comunity{
    position: absolute;
    padding-left: 70px;
}

.butons-comunity div{
    transition: 1.5s;
    cursor: pointer;
    margin-right: 140px;
    margin-top: -170px;
}

.butons-comunity img:hover{
    height: +205px;
    transition: 1.5s;
}


/*Se implementan estilos a la seccion dot anterior al footer se aplican estilos al boton de demo y se hace un itulo grande que llama a la accion*/
.dot{
    padding-top: 100px;
    font-family: sans-serif;
    background-color: #f5f5f5;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    padding-bottom: 100px;
}

.dot h1{
    font-size: 60px;
}

.dot button{
    cursor: pointer;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #4caf4f;
    border: 0;
    padding: 20px 80px;
    border-radius: 7px;
    transition: 0.5s;
}

.dot button:hover{
    transition: 0.5s;
    cursor: pointer;
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #4caf4f;
    border: 0;
    padding: 20px 80px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px #9dcf9e;
    font-size: 24px;
}

/*Se implementa estilos a la seccion del footer*/
footer{
    height: auto;
    background-color: #263238;
}

footer .title{
    color: white;
}

/*Se crean 3 columnas con grid para desplzar los 3 divs que contiene la informacion del footer*/
.main-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.copy{
    margin-top: 100px;
    font-family: sans-serif;
    color: white;
    padding-left: 200px;
}

.copy h4{
    font-weight: 100;
    margin-left: 100px;
}

.redes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 20px;
}

/*Se modifican los iconoes de las redes para una mejor vision*/
.redes i{
    cursor: pointer;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 30px;
    padding: 10px;
    background-color: #525252;
}

.links{
    font-family: sans-serif;
    color: white;
    margin-top: 100px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.links h3{
    font-size: 30px;
    font-weight: bold;
}

.links ul{
    margin-top: 50px;
    list-style: none;
}

.links li{
    cursor: pointer;
    margin-top: 20px;
}


.email{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding-top: 100px;
    margin-left: 150px;
}


.input{
    cursor: pointer;
    background-color: gray;
    height: 40px;
    padding-left: 10px;
    width: 300px;
    border-radius: 15px;
    color: #a1a1a1;
}

.input i{
    padding-left: 20px;
}


/*En este apartado se corrige las posiciones para una mejor visualizacion en dispositvos moviles*/
@media (max-width: 768px) { 
    /*Resetear contenedores con márgenes excesivos */ 
    .hero, .clients, .community, .unlock, .achievements, .calender, .customer, .update, .dot, .copy, .links, .email {
        padding-left: 20px !important; padding-right: 20px !important; padding-top: 50px; padding-bottom: 50px; }
    /*Convertir Grids y Flexbox a una sola columna */
header {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav, .login, .main, .clients-logos, .images-comunity, 
.unlock, .counts, .calender, .customer, .main-footer, .links {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    margin-top: 20px !important;
    align-items: center;
    text-align: center;
}
/* Ajustar textos grandes */
.text h2, .dot h1 {
    font-size: 35px;
}

.secondary h2 {
    margin-top: 0;
}

/*Ajustar imágenes para que no se desborden */
.images-main, .unlock img, .calender img, .customer .img-tesla {
    margin-left: 0;
    height: auto;
    max-width: 100%;
}

/*Navegación y Botones */
.nav a {
    padding: 10px;
    display: block;
}

.butons-comunity {
    position: static;
    padding-left: 0;
}

/*Footer */
.redes {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.redes i {
    margin: 20px 10px;
}

.input {
    width: 100%;
    max-width: 300px;
}
}